body {
  background-color: rgba(0, 0, 0, 0.5);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
                         1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 400px;
  margin: 0 auto;
}

.tile {
  width: 25px;
  height: 25px;

  background: rgba(0, 0, 0, 0.8);
  transition: background-color .3s;
}

.tile:hover {
  background-color: white;
}
